<nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li id="fci">
                  <img src="{{ .Site.BaseURL }}images/fci.png" alt="Mezinárodní kynologická federace" ></img>
                </li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li {{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>
                    <a href="{{ .URL }}" lang="cz">{{ .Name }}</a>
                </li>
                {{end}}
                <li id="language">
                </li>
                <!--
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="sidebar-left.html">Left Sidebar</a></li>
                        <li><a href="sidebar-right.html">Right Sidebar</a></li>
                        <li><a href="single.html">Blog Post</a></li>
                    </ul>
                </li>
                <li><a href="post">Blog</a></li>
                -->
            </ul>
            <script>
            setFlag = function() {
              var lang = Cookies.get('langCookie');
              if (!lang) {
                lang = window.lang;
              }
              if (lang === "en") {
                document.getElementById("language").innerHTML = '<a href="#lang-cz" onclick="window.lang.change(\'cz\'); setFlag();return false;"><img src="{{ .Site.BaseURL }}images/cz-flag.png"></img></a>';
              } else {
                document.getElementById("language").innerHTML = '<a href="#lang-en" onclick="window.lang.change(\'en\'); setFlag(); return false;"><img src="{{ .Site.BaseURL }}images/en-flag.png"></img></a>';
              }
            }
            </script>
        </div><!--/.nav-collapse -->
    </div>
</nav>
