<div class="row section featured topspace">
    <h2 class="section-title"><span lang="cz">Novinky</span></h2>
    <div class="row">
        <div class="container" id="result"></div>
    </div>

    <script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{{ .Site.BaseURL }}js/FacebookPageFeed.js"></script>
    <script src="{{ .Site.BaseURL }}js/news.js"></script>
    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/cs_CZ/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
</div> <!-- / section -->
