<div class="row section dogtopspace">
    <div class="col-md-12">
        <p class="lead text-center" style="margin-right: 150px;" lang="cz" data-lang-token="welcome-message">
            Jsme malá rodinná chovatelská stanice, která se od roku 2008 zabývá chovem malého německého špice (23 - 28 cm) v barvě oranžové, orange-sable, krémové a créme-sable. Zakladateli chovatelské stanice byli oranžový pejsek CH.Hakim Kaveta Bohemia a oranžová fenka CH.Gina Orlovská perla. Žijeme ve Východních Čechách, v malebné krajině pískovcových skal v chráněné krajinné oblasti Broumovsko.


        </p>
        <div class='dog'>
<div class='dogbody'>
<div class='ears'></div>
<div class='eyes'>
  <div class='dogleft'></div>
  <div class='dogright'></div>
</div>
<div class='nose'></div>
<div class='mouth'></div>
<div class='whiskers'>
  <div class='dogleft'></div>
  <div class='dogright'></div>
</div>
<div class='tongue'></div>
<div class='bandana'>
  <div class='dogtop'></div>
  <div class='dogbottom'></div>
</div>
<div class='stomach'></div>
</div>
<div class='legs'>
<div class='lfront'></div>
<div class='lback'></div>
<div class='rfront'></div>
<div class='rback'></div>
</div>
<div class='tail'></div>
</div>
    </div>
</div> <!-- / section -->
