<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            O nás Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et justo massa. In id lorem et purus dignissim rutrum at in mauris. Pellentesque hendrerit, libero eu fermentum sodales, mauris enim efficitur erat, non finibus diam lacus at mauris. založena <a href="#">20xx</a> Nam nec libero ac arcu dignissim dignissim a vel eros. Suspendisse tincidunt tincidunt turpis vel congue. Vestibulum feugiat porta congue <a href="#">dulezite</a>.
        </p>
    </div>
</div> <!-- / section -->
