<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center" lang="cz" data-lang-token="welcome-message">
            Jsme malá rodinná chovatelská stanice, která se od roku 2008 zabývá chovem malého německého špice (23 - 28 cm) v barvě oranžové, orange-sable, krémové a créme-sable. Zakladateli chovatelské stanice byli oranžový pejsek CH.Hakim Kaveta Bohemia a oranžová fenka CH.Gina Orlovská perla. Žijeme ve Východních Čechách, v malebné krajině pískovcových skal v chráněné krajinné oblasti Broumovsko.
        </p>
    </div>
</div> <!-- / section -->
