{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">

		  <!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="nav text-right nav-side" style="float: right;margin-left: 10px;">
          {{ range (where .Site.Pages "Section" "stenatka").Reverse }}
          {{ if .Params.letter }}
            <a href="{{ .Permalink }}"><div class="vrh">{{ .Params.letter }} <span class="vrhSmaller">{{ .Params.year }}</span></div></a>
          {{ end }}
          {{ end }}
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
                <div style="text-align: justify;">
                {{ .Content }}
                </div>
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
